body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
#output {
  display: inline-block;
  border: 2px solid green;
  background-color: lightgreen;
  width: 80px;
  font: 16px bold;
  margin: 5px;
  padding: 2px;
}
#number1,
#number2 {
  width: 100px;
  margin: 5px;
}
